body {
  font-family: "Montserrat", sans-serif;
}
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  list-style: none;
  outline: none;
}
:root {
  --main-color: #6fc754;
  --secand-color: #267df4;
  --secand-color-2: #0960d7;
  --linkedin-color: #007bb5;
  --pinterest-color: #dd4b39;
  --faceboock-color: #3b5998;
  --twitter-color: #55acee;
  --padding-top: 50px;
  --padding-bottom: 50px;
}
.contenar {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* small screen  */
@media (min-width: 768px) {
  .contenar {
    width: 750px;
  }
}

/* Medium screen  */
@media (min-width: 992px) {
  .contenar {
    width: 970px;
  }
}

/* larg screen  */
@media (min-width: 1200px) {
  .contenar {
    width: 1170px;
  }
}
/* ===== start header ===== */
header {
  background-image: url(../img/hero.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 0;
  padding: 30px;
}
header::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.466);
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav h3 span {
  color: #555555;
  font-weight: 300;
  margin-left: -6px;
}

@media (min-width: 768px) {
  header nav > ul {
    display: flex;
  }
  label {
    display: none;
  }
}
@media (max-width: 767px) {
  header nav > ul {
    display: block;
    position: absolute;
    width: 100%;
    background-color: white;
    left: 0;
    flex-direction: column;
    top: 75px;
    left: -100%;
    transition: all 0.4s;
  }
  label {
    display: block;
    right: 5%;
    position: absolute;
  }
  #check:checked + ul {
    display: block;
    position: absolute;
    width: 100%;
    background-color: white;
    left: 0;
    flex-direction: column;
    top: 75px;
  }
  header nav ul li > ul {
    top: 27px !important;
    left: 14%;
  }
}
header nav > ul li {
  padding: 20px;
  position: relative;
}
header nav h3 {
  white-space: nowrap;
}
header nav ul li a {
  text-decoration: none;
  color: #555555;
  font-weight: 400;
  transition: all 0.4s ease;
  white-space: nowrap;
}
header nav ul li a:hover {
  color: var(--main-color);
}
header nav ul li a > i {
  margin-left: 10px;
}
header nav ul li > ul.sup {
  position: absolute;
  background-color: white;
  width: 128px;
  right: 30%;
  border-top: 5px solid var(--main-color);
  box-shadow: 1px 7px 6px 0px rgb(0 0 0 / 23%), 0 0 2px rgb(0 0 0 / 23%);
  z-index: 666;
  transition: all 0.1s;
  top: 110%;
  display: block;
  visibility: hidden;
  opacity: 0;
}
header nav ul li:hover ul.sup {
  top: 100%;
  opacity: 1;
  visibility: visible;
}
header nav ul li > ul.sup li {
  padding: 7px 5px;
}
header nav ul li > ul.sup a {
  transition: all 0.4s;
}
header nav ul li > ul.sup a:hover {
  padding-left: 10px;
}
.up-span {
  width: 20px;
  height: 2px;
  display: flex;
  flex-wrap: wrap;
  background-color: black;
}
.up-span span {
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
  background-color: black;
}

nav input {
  display: none;
}

/* ===== end header ===== */
/* ===== start landing ===== */
.landing {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.landing .text {
  width: 100%;
  max-width: 889px;
  margin: auto;
}
.landing .text p:first-child {
  font-size: 70px;
  font-weight: 300;
  color: #26292c;
  margin-bottom: 10px;
}
.landing .text p:nth-child(2) {
  margin: 20px 0;
  color: #26292c;
  font-size: 23px;
  font-weight: 300;
}
.landing .text button {
  padding: 15px 60px;
  margin: 20px 0;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 30px;
  color: #26292c;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.landing .text button:hover {
  background-color: black;
  color: white;
}
@media (max-width: 676px) {
  .landing .text p:first-child {
    font-size: 30px;
  }
  .landing .text p:nth-child(2) {
    font-size: 20px;
  }
}
/* ===== end landing ===== */
/* ===== start Responsive ===== */
.Responsive {
  padding-top: 50px;
  padding-bottom: 50px;
}
.Responsive .contenar {
  display: flex;
  justify-content: space-between;
}

.Responsive .contenar .box-one h4 {
  font-size: 30px;
  color: #26292c;
  font-weight: 300;
  margin: 20px 0;
}
.Responsive .contenar .box-one p {
  line-height: 1.5;
  color: #aaa;
  font-size: 14px;
}
@media (min-width: 768px) {
  .Responsive .contenar .box-one {
    width: 100%;
  }
}
.Responsive .contenar .box-two {
  width: 100%;
}
.Responsive .contenar .box-two img {
  width: 100%;
}
@media (max-width: 770px) {
  .Responsive .box-two img {
    display: none;
  }
}
/* ===== end Responsive ===== */
/* start main-title  */
.main-title {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.main-title h2 {
  font-weight: normal;
  font-size: 40px;
  color: #26292c;
  padding: 50px 0;
  position: relative;
}
.main-title h2::before {
  content: "";
  position: absolute;
  background-color: var(--secand-color-2);
  width: 50px;
  height: 2px;
  bottom: 20%;
  left: 47%;
}
.main-title p {
  font-weight: 300;
  font-size: 23px;
  color: #9fa3a7;
  margin-bottom: 30px;
}
/* end main-title  */
/* ========== start Services =========== */
.Services {
  background-color: #f6f6f6f6;
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}
.Services .contenar {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.Services .contenar .box {
  text-align: center;
  padding: 10px;
}
.Services .contenar .box h6 {
  font-size: 15px;
  margin: 10px 0;
  font-weight: normal;
}
.Services .contenar .box p {
  color: #aaa;
  font-size: 14px;
  line-height: 1.4;
}
/* ========== end Services =========== */
/* ========== start Responsive-Web =========== */
.Responsive-Web {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
  background-image: url(../img/map.png);
  background-size: cover;
  background-position: center;
  background-color: #071021;
  position: relative;
}
.Responsive-Web .text {
  color: white;
  text-align: center;
  margin-top: 200px;
}
.Responsive-Web .text p {
  font-size: 43px;
  margin: 30px 0;
  font-weight: normal;
}
.Responsive-Web .text h5 {
  margin: 30px;
  font-size: 15px;
  font-weight: normal;
  color: #9fa3a7;
}
.Responsive-Web .text button {
  padding: 15px 60px;
  margin: 20px 0;
  background-color: var(--secand-color-2);
  border: none;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.Responsive-Web .text button:hover {
  background-color: #26292c;
  color: white;
}
.Responsive-Web .times {
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
  text-align: center;
  padding-top: 230px;
}

.Responsive-Web .times .box span {
  font-size: 40px;
  font-weight: normal;
}
.Responsive-Web .times .box h5 {
  color: var(--secand-color-2);
  font-weight: normal;
  font-size: 15px;
  margin-top: 30px;
}
/* ========== end Responsive-Web =========== */
/* ========== Start Last-Work =========== */
.Last-Work {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}
.Last-Work .contenar {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.Last-Work .contenar .box .up-img {
  position: relative;
  overflow: hidden;
}
.Last-Work .contenar .box img {
  height: 300px;
  object-fit: cover;
  width: 100%;
}
.Last-Work .contenar .box .info {
  width: 100%;
  height: 100%;
  background-color: #f6f6f6f6;
  position: absolute;
  z-index: 4;
  top: 0%;
  left: -100%;
  transition: all 0.4s;
}
.Last-Work .contenar .box .info h5 {
  padding: 20px;
  font-size: 17px;
  color: #071021;
  font-weight: normal;
}
.Last-Work .contenar .box .info i {
  position: absolute;
  bottom: 10px;
  right: 20px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 50%;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.4s;
}
.Last-Work .contenar .box .info i:hover {
  background-color: black;
  color: white;
}
.Last-Work .contenar .box .up-img:hover .info {
  left: 0%;
}
/* ========== End Last-Work =========== */
/* ========== Start Subscribe =========== */
.Subscribe {
  padding-top:var(--padding-top);
  padding-bottom: var(--padding-bottom);
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
.Subscribe p {
  font-size: 50px;
  font-weight: normal;
  margin: 50px 0 20px 0;
}
.Subscribe .sup-form {
 max-width: 550px;
  margin: auto;
  display: flex;
  position: relative;
}
.Subscribe .sup-form input[type="text"] {
  padding: 12px;
  width: 100%;
 border-radius: 20px;
 border: 1px solid rgba(128, 128, 128, 0.719);
 color: #555555;
}
.Subscribe .sup-form input[type="text"]:focus {
  background-color: #f6f6f6;
}
.Subscribe .sup-form input[type="button"] {
  border-radius: 20px;
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 11px 20px;
  position: absolute;
  right:  1px;
  cursor: pointer;
  top: 2px;
  transition: all 0.4s ease-in-out;
} 
.Subscribe .sup-form input[type="button"]:hover {
  background-color: #26292c;
  color: white;
}
@media (max-width:767px) {
  .Subscribe p {
    font-size: 30px;
  }
}
/* ========== End Subscribe =========== */
/* ========== Start footer =========== */
footer {
  padding-top: var(--padding-top);
  padding-bottom: 150px;
  background-color: #f6f6f6f6;
display: flex;
justify-content: space-between;
position: relative;
}
footer .box-one {
  padding: 50px;
}
footer h3 span {
  color: #555555;
  font-weight: 300;
  margin-left: -6px;
}
footer h3 {
  margin: 20px;
}
footer .box-one {
  width: 30%;
  position: relative;
}
footer .box-one p  {
  margin: 20px;
  color: #9fa3a7;
  font-size: 14px;
  line-height: 1.4;
  }
 
  footer .icon-social i {
    font-size: 20px;
    margin-left: 5px;
    padding: 8px;
  cursor: pointer;
transition: all 0.4s;  
}
  footer .icon-social i:first-child {
    color: var(--twitter-color);
    border: 1px solid var(--twitter-color);
    border-radius: 20px;
  }
  footer .icon-social i:first-child:hover {
    background-color: var(--twitter-color);
    color: white;
  }
  footer .icon-social i:nth-child(2) {
    color: var(--faceboock-color);
    border: 1px solid var(--faceboock-color);
    border-radius: 50%;
    
  }
  footer .icon-social i:nth-child(2):hover {
    background-color: var(--faceboock-color);
    color: white;
  }
  footer .icon-social i:nth-child(3) {
    border: 1px solid var(--pinterest-color);
    color: var(--pinterest-color);
    border-radius: 20px;
  }
  footer .icon-social i:nth-child(3):hover {
    color: white;
background-color: var(--pinterest-color);
  }
  footer .icon-social i:nth-child(4) {
    border: 1px solid var(--linkedin-color);
    border-radius: 20px;
    color: var(--linkedin-color);
  }
  footer .icon-social i:nth-child(4):hover {
    color: white;
    background-color: var(--linkedin-color);
  }
  footer .up-box {
    display: flex;
    justify-content: space-between;
    gap: 30px;
  }
  footer .up-box .box-two, 
  footer .up-box .box-three {
    padding: 50px;
  }
  footer .up-box .box-two h5 {
    color: #26292c;
    font-weight: normal;
  font-size: 17px; 
  }
  footer .up-box .box-two li {
    padding: 20px 20px 0 0;
    color: #9fa3a7;
    font-size: 17px;
 
  }
  footer .up-box .box-two li i {
    margin-right: 10px;
  }
  footer .up-box .box-three h5 {
    color: #26292c;
    font-weight: normal;
  font-size: 17px; 
  margin-bottom: 5px;
  }
  footer .up-box .box-three li {
  margin: 10px 10px 5px 5px;
  }
 footer .box-three li a { text-decoration: none;
  color: #555555;
  font-weight: 400;
  transition: all 0.4s ease;
  white-space: nowrap;
}
footer .box-three li a:hover {
  color: var(--main-color);
}
footer .copyright {
  position: absolute;
  bottom: 5%;
  right: 5%;
}
footer .copyright h6 {
  font-size: 10px;
  color: #9fa3a7;
  margin-bottom: 5px;
}
@media (max-width:991px) {
  footer,
  .up-box {
    flex-direction: column;
  }
 
  footer .box-one {
    flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
}
/* ========== End footer =========== */
